// _body_stage.scss
.body-stage {
    display: flex;
    align-items: flex-end; 
    flex-direction: row;
    height: 33vh;
    position: relative;}

.body-stage > :last-child {
    position: absolute;
    left: 50vw;
}

.body-stage .h1-container {
    display: flex;
    align-items: flex-end; 
    flex-direction: row;
}

.body-stage h1,
.body-stage button {
    margin: 0;  // Reset the margins
    padding: 0;  // Reset the padding
    border: 0;  // Reset the borders
    line-height: 1;  // Adjust the line-height
    text-align: left;

}

.body-stage .body-stage-title {
    
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
    line-height: 2rem;
}

.body-stage .body-stage-filter {
    font-size: 1rem!important;
    
}