// _body_stage.scss
.body-stage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40vh;  
    min-height: 20em;  
    position: relative;
}

.body-stage > :last-child {

}


.body-stage .h1-container {
    align-self: flex-start;
    flex-grow: 1;
    width: 100%;
    margin-left: 0!important;

}

.body-stage ,
.body-stage button {
    margin: 0;  // Reset the margins
    padding: 0;  // Reset the padding
    border: 0;  // Reset the borders
    line-height: 1;  // Adjust the line-height
    text-align: left;

}

.body-stage .body-stage-title {
    
    @include font-size-l;
}

.body-stage .body-stage-filter {
    @include font-size-m;    
}


.body-stage .search-container{
    //padding: 0;
}

.body-stage .tags-container {
    padding-top: 0.28rem;
}
.body-stage .bottom-container {
    display: flex;
    width: 100%;
}