

@mixin divider-color {
    .uk-list-divider > li:not(:first-child)::before {
      border-top: 5px solid $color-primary-100 !important;
    }
  }  

@mixin link-color {
    .social-media-list li a {
      color: $color-neutral-75 !important;
    }
  }


@include divider-color;
@include link-color;

.footer{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 33vh;
}

.uk-list-custom-divider > :nth-child(n+2) {
  // Your custom styles here
}