

@mixin divider-color {
    .uk-list-divider > li:not(:first-child)::before {
      border-top: 5px solid $color-primary-100 !important;
    }
  }  

@mixin link-color {
    .social-media-list li a {
      color: $color-neutral-75 !important;

      //padding: $base-unit;

      //background-color: $color-neutral-12;
              //color: $color-neutral-100;
             // border-radius: $base-unit; 
    }
  }


@include divider-color;
@include link-color;

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 65vh;
  min-height: 20em;

  background-image: url('/img/full-beans_logo_l_darkest-dark.svg');
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 80%;
}

.uk-list-custom-divider > :nth-child(n+2) {
  // Your custom styles here
}