@import '../base/variables';

.livestream-button-status{
    background: none;
    padding-right: 15px; // !correct this!
}

.livestream-button-status-live{
    color: $color-primary-100;
}
.livestream-button-status-replay{
    color: $color-secondary-100;
}

#playLivestream{
    background-color: $color-neutral-25; 
}
#stopLivestream{
    background-color: $color-neutral-12; 
}

.player_live_container{
    //padding: 0;
    padding: $base-unit;
    //padding-bottom: 0px;
    background-color: $color-neutral-00;
}

