
#modal-tags {
    .uk-modal-dialog {
        @include navbar-container-bg;
        border-radius: 0; // Remove border radius
    }

    .uk-modal-header {
        @include navbar-toggle;
        background-color: $color-neutral-75;
        width: auto;
        height: $layout-unit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: $base-unit;
        border-bottom: none;
    }

    .uk-modal-body {
        padding: 0;
    }

    .uk-nav {
        margin-top: $base-unit * 3; // Add margin to the top of the list
    }

    .uk-nav li a {
        @include offcanvas-nav-items;
        @include font-size-m;
        text-decoration: none; 
    }

    .uk-nav li a:hover {
        color: $color-neutral-50; 
    }

    
}


#modal-tags .uk-modal-close-default {
    background-color: none;
    width: $layout-unit;
    height: $layout-unit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $base-unit;
    border: 1px solid $color-neutral-50;

}


#modal-tags .uk-modal-close-default {
    position: absolute;
    top: $base-unit;
    right: $base-unit;
}

#modal-tags .uk-modal-dialog {
    background-color: rgba($color-neutral-00, 0.95);
    height: 100%;
    //transition: none !important;
}

.pill-shape-m{
    display: inline-block;
    padding: $base-unit*2;
    margin-right: $base-unit;
    background-color: none;
    color: $color-neutral-100;
    border-radius: $base-unit; 
    border: 1px solid $color-neutral-50;

}