// _modal.scss


.uk-modal-dialog{
    transition: none !important;
}

.uk-modal-header{
    padding-top: $base-unit;
    padding-bottom: $base-unit;
    padding-left: 0;
}



.selected {
    color: $color-primary-100!important;
    /* CSS properties to highlight the selected tag */
}