// search_input.scss
.uk-form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    color: $color-neutral-31 !important; 

}

.uk-form-icon .fas {
    margin-right: 10px; // Adjust as needed
}

.uk-search-input {
    display: inline-block;
    vertical-align: middle;
    color: $color-neutral-87 !important;
}

.uk-search-default{
  width: auto;
}

.uk-search-default .uk-search-input {
    padding-left: 40px;
}

body div .uk-search-default .uk-search-input:focus {
    border-color: transparent !important;
    outline: none !important;
}

#custom-search-input {
    color: $color-neutral-87 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $color-neutral-50 !important;
    border-color: $color-neutral-50 !important;
    background-color: transparent !important;
    
    @include font-size-m;
}

#custom-search-input::placeholder {
    color: $color-neutral-87 !important; 
    
    @include font-size-m;
}

.custom-search-form-rounded-corners{
    border-radius: $base-unit; 
    border: 1px solid $color-neutral-50;

}

.uk-search-default .uk-search-input{
    height: 30px;
    border: none;
}

// preview text of search input: color adjust
/* Chrome, Firefox, Opera, Safari 10.1+ */
#search-input::placeholder {
    color: $color-neutral-87 !important; 
    opacity: 1; /* Firefox */
  }
  
  /* Internet Explorer 10-11 */
  #search-input:-ms-input-placeholder {
    color: $color-neutral-87 !important; 
  }
  
  /* Edge */
  #search-input::-ms-input-placeholder {
    color: $color-neutral-87 !important; 
  }


  #search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  
    li {
  
      a {
        text-decoration: none;

        @include font-size-m;
  
        &:hover {
        }
      }
  
      .post-date {
        color: #999;
        font-size: 0.8em;
      }
    }
  }