.uk-form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.uk-form-icon .fas {
    margin-right: 10px; // Adjust as needed
}

.uk-search-input {
    display: inline-block;
    vertical-align: middle;
    
}

.uk-search-default{
  width: 100%;
}

.uk-search-default .uk-search-input {
    padding-left: 40px;
}

body div .uk-search-default .uk-search-input:focus {
    border-color: transparent !important;
    outline: none !important;
}

#search-input {
    color: $color-neutral-25 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid $color-neutral-25 !important;
    background-color: transparent !important;
    
    @include font-size-m;
}

#search-input::placeholder {
    color: $color-neutral-25 !important; 
    
    @include font-size-m;


}

.uk-search-default .uk-search-input{
    height: 30px;
}