.uk-form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.uk-form-icon .fas {
    margin-right: 10px; // Adjust as needed
}

.uk-search-input {
    display: inline-block;
    vertical-align: middle;
    
}

.uk-search-default .uk-search-input {
    padding-left: 40px;
}

body div .uk-search-default .uk-search-input:focus {
    border-color: transparent !important;
    outline: none !important;
}

#search-input {
    color: $color-neutral-25 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid $color-neutral-25 !important;

 
}

#search-input::placeholder {
    color: $color-neutral-25 !important; 
    font-size: 1.0rem;
    line-height: 1.0rem;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 600px) {
        font-size: 1.0rem;
        line-height: 1.0rem;
    }
}
