<div class="uk-container">
  <h1 class="uk-heading-small">shows</h1>
  {% assign sorted-shows = site.shows | sort: 'date' | reverse %}
  {% for show in sorted-shows %}
  <div class="uk-card uk-card-small uk-card-default uk-card-hover">
    <a href="{{ show.mp3Url}}">
      <div class="uk-card-media-top">
        <img src="{{ show.image}}" width="" height="" alt="">
      </div>
      <div class="uk-card-header">
          <h1 class="uk-text-default uk-text-bold">{{ show.title }}</h1>
      </div>
      <div class="uk-card-body">
        {% for tag in show.tags %}
          <span class="uk-text-small uk-text-bold">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="uk-card-footer">
        <h5 class="uk-text-small uk-text-bold">
          {{ show.date | date: "%d.%m.%y" }}
        </h5>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


  <h3 class="uk-card-title"></h3>
</div>