<!-- _includes/sitemap.html -->
<div class="uk-flex-column uk-padding-remove-left">

    <h1 class="font-size-xs text-neutral-87">sitemap</h1>
    <ul class="uk-list  social-media-list font-size-s ">
        {% for page in site.pages %}
        {% if page.title %}
            <li><a class="offcanvas-link" rel="author" href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>