<div class="uk-flex-auto"></div>

<div class="uk-grid uk-margin-remove-left uk-flex ">
    <div class="uk-width-0  uk-width-1-5@l uk-width-1-5@xl uk-padding-remove uk-margin-remove"></div>  

    <div class="uk-width-1-3 uk-width-1-3@m uk-width-1-5@l uk-width-1-5@xl uk-grid-medium uk-margin-remove-left uk-padding-remove-left">
    {%- include footer_body_sitemap.html -%}
    </div>
    <div class="uk-width-1-3 uk-width-1-3@m uk-width-1-5@l uk-width-1-5@xl uk-grid-medium uk-margin-remove-left uk-padding-remove-left">
    {%- include footer_body_social.html -%}
    </div>

    <div class="uk-width-1-3 uk-width-1-3@m uk-width-1-5@l uk-width-1-5@xl uk-grid-medium  uk-margin-remove-left uk-padding-remove-left">
    {%- include footer_body_contact.html -%}
    </div>
</div>