<div class="controls uk-container uk-flex uk-flex-middle">  
    <!-- play / stop -->
    <button class="uk-button uk-width-auto uk-margin-small-right" id="playLivestream" type="button">
        <i class="fas fa-play"></i>
    </button>
    <button class="uk-button uk-width-auto uk-margin-small-right" id="stopLivestream" type="button" style="display: none;">
        <i class="fas fa-stop"></i>
    </button>
    <!-- live-offline-indicator / streamer name -->
    <div class="" id="isNotLive">
        <i class="fa-solid fa-repeat" ></i>
    </div>
    <div class="" id="isLive"  style="display: none;">
        <i class="fas fa-circle fa-10x" style="color: red;"></i>
    </div>
</div>

 