<div class="controls uk-container uk-flex-row uk-flex uk-flex-middle uk-margin-small-top">  
    <button class="uk-button uk-height-1-1 uk-margin-small-right" id="playLivestream" type="button">
        <i class="fas fa-play"></i>
    </button>
    <button class="uk-button uk-height-1-1 uk-margin-small-right" id="stopLivestream" type="button" style="display: none;">
        <i class="fas fa-stop"></i>
    </button>
    <div class="uk-flex uk-margin-small-left uk-text-small uk-text-bold " id="isNotLive">
        <i class="fa-solid fa-repeat"></i>
    </div>
    <div class="uk-flex uk-margin-small-left uk-text-small uk-text-bold " id="isLive"  style="display: none;">
        <i class="fas fa-circle fa-10x" style="color: red;"></i>
    </div>
</div>