<nav class="uk-navbar-container uk-box-shadow-medium">
  <div uk-navbar class=" uk-navbar-padding uk-padding-remove-left uk-flex uk-flex-middle">
    <div class="uk-navbar-left uk-padding-small uk-padding-remove-vertical uk-flex uk-flex-center uk-flex-column uk-width-2-5">
      <h1 class="font-size-s text-neutral-87  uk-margin-remove-vertical " style="font-style: italic; text-transform: none; letter-spacing: 0;">Steamin&#x2019; Hot!</h1>
    </div>
    <div class="uk-navbar-center uk-padding-small uk-padding-remove-vertical uk-width-1-5">
      <a class="site-title text-neutral-25" rel="author" href="{{ "/" | relative_url }}">
        <img src="/assets/graphics/fbr-centered-vec.svg" alt="Full Beans Radio" class="site-logo">
      </a>
    </div>
    <div class="uk-navbar-right uk-visible@m uk-padding-small-right uk-width-2-5">
      <ul class="uk-navbar-nav">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            <li class="font-size-m"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="uk-navbar-right uk-hidden@m  button-navbar ">
      <a class="uk-navbar-toggle" href="#offcanvas-nav" uk-toggle>
        <i class="fas fa-bars text-neutral-87 fa-lg "></i>
      </a>
    </div>
  </div>
</nav>