
<div class="uk-container-expand player_recordings_container">

    <div class="controls uk-position-relative uk-container-expand uk-flex-row uk-flex uk-flex-middle uk-padding-small uk-padding-remove-vertical uk-padding-remove-horizontal" id="audio-player_controls">
        <div class="uk-width-1-1">
            <div class="button-container">               
                <button class="uk-button uk-height-1-1 uk-padding-remove player-button" id="stopAudio" type="button" style="display: none;">
                    <div class="player-button-icon">
                        <i class="fas fa-pause fa-xs"></i>
                    </div>
                    <div class="player-button-streamer" id="audio-player_button_streamer-name_playing"></div>                           
                </button>
                <button class="uk-button uk-height-1-1 uk-padding-remove player-button" id="playAudio" type="button">
                    <div class="player-button-icon">
                        <i class="fas fa-play fa-xs"></i>
                    </div>
                    <div class="player-button-streamer" id="audio-player_button_streamer-name_stopped"></div>    
                </button>
                <button class="uk-button uk-height-1-1 uk-padding-remove square-button" id="closeAudioPlayer" type="button">
                    <div class="player-button-icon">
                        <i class="fas fa-close fa-xs"></i>
                    </div>
                </button> 
            </div>
             
        </div>
    </div>

    <div class="controls uk-container-expand uk-flex uk-flex-column " id="progress-container">  
        <div class="uk-width-1-1 uk-flex-middle uk-padding-small uk-padding-remove-vertical uk-padding-remove-horizontal">  
            
            <div id="progress" class="uk-progress uk-link uk-width-1-1 uk-height-progress-bar" style="position: relative; display: flex; align-items: center; justify-content: center;">
                <div class="uk-width-1-1 uk-flex uk-flex-between uk-padding-small" id="progress-bar_timer">
                    <div id="timer" class="font-size-xs"></div>
                    <div id="duration" class="font-size-xs"></div>
                </div>
                <div class="uk-progress-bar uk-height-small uk-background-primary uk-height-progress-bar" id="progress-bar" style="width: 0%; position: absolute; top: 0; left: 0;"></div>
            </div>
    </div>

</div>

