
<div class="uk-container uk-box-shadow-medium">
    <div class="controls uk-container uk-flex uk-flex-column " id="audio-player_controls">  
        <div class="uk-width-1-1 uk-flex uk-flex-middle">
            <button class="uk-button uk-height-1-1 uk-margin-small-right " id="playAudio" type="button">
                <i class="fas fa-play"></i>
            </button>
            <button class="uk-button uk-height-1-1 uk-margin-small-right uk-background-secondary" id="stopAudio" type="button" style="display: none;">
                <i class="fas fa-pause uk-text-danger"></i>
            </button>
            
            <span class="uk-text-small uk-text-bold uk-margin-small-left" id="titleElement"></span>
            <button class="uk-button uk-height-1-1 uk-margin-small-left uk-margin-auto-left" id="closeAudioPlayer" type="button">
                <i class="fas fa-close"></i>
            </button>
        </div>
    </div>
    <div class="controls uk-container uk-flex uk-flex-column " id="progress-container">  
        <div class="uk-width-1-1 uk-flex uk-flex-middle">  
            <div id="timer" class="uk-text-small uk-margin-left uk-margin-right"></div>
            <div id="progress" class="uk-progress uk-link">
                <div class="uk-progress-bar uk-height-small uk-background-primary" style="width: 0%;"></div>
            </div>
            <div id="duration" class="uk-text-small uk-margin-left uk-margin-right"></div>
        </div>
    </div>
</div>
