<div id="modal-tags" class="uk-modal-full uk-padding-remove" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-padding-remove">
      
      <div class="uk-container  uk-width-1-1 uk-padding-small uk-padding-remove-vertical ">
        <div class="uk-grid-match uk-flex uk-margin-remove uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom" uk-grid>

          <button class="uk-modal-close-default uk-navbar-toggle button-navbar uk-cursor-pointer" type="button" style="cursor: pointer;">
            <i class="fas fa-xmark text-neutral-87 fa-lg"></i>
          </button>
          
          <div class="uk-width-0 uk-width-1-5@s uk-width-1-5@m uk-width-1-5@l uk-width-1-3@xl"></div>

          
      
          <div class="uk-modal-body uk-margin-large-top uk-padding-small uk-width-3-5@s uk-width-3-5@m uk-width-3-5@l uk-width-1-3@xl">
            <ul class="uk-list font-size-m uk-padding-small">
                <li class="pill-shape-m">
                  <a href="#" id="all-shows" class="text-neutral-75 selected" style="cursor: pointer;">
                    All
                    <span id="selected-tag-count" class="text-neutral-37">[{{ sorted-shows | size }}]</span>
                  </a>
                </li>
                {% for tag in unique_tags %}
                  <li class="pill-shape-m">
                      <a class="text-neutral-75" data-tag="{{ tag | slugify }}" style="cursor: pointer;" >
                          {{ tag }}
                          <span id="tag-count-{{ tag | slugify }}" class="text-neutral-37"></span>
                      </a>
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>