<div id="modal-search-shows" class="uk-modal-full uk-padding-remove bg-neutral-25" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-padding-remove">
      <button class="uk-modal-close-default uk-navbar-toggle button-navbar uk-cursor-pointer" type="button" style="cursor: pointer;">
        <i class="fas fa-xmark text-neutral-25 fa-lg"></i>
      </button>
      
      <div uk-navbar class=" uk-navbar-padding uk-padding-remove-left">
        <div class="uk-navbar-left uk-padding-small uk-padding-remove-vertical modal-search-shows_header">
          <div class="site-title text-neutral-25" rel="author" href="{{ "/" | relative_url }}">
            <img src="/img/full-beans_logo_s_white.svg" alt="Full Beans Radio" class="site-logo">
            <span class="text-neutral-87 font-size-xs">&ThinSpace;.radio<br>&ThinSpace;</span>
          </div>
        </div>
      </div>
      
      <div class="uk-modal-body uk-margin-large-top uk-padding-small">
        <form class="uk-search uk-search-default bg-neutral-12 uk-padding-small custom-search-form-rounded-corners">
          <div class="uk-flex uk-flex-middle">
            <div class="uk-position-relative">
              <span class="uk-form-icon">
                <i class="fas fa-search fa-2x text-neutral-62"></i> 
              </span>
            </div>
            <input class="uk-search-input font-size-l-search uk-margin-small-left" type="search" id="search-input" placeholder="Search">
          </div>
        </form>
        <div id="search-results"></div>
      </div>
    </div>
</div>