<!-- play / stop -->
<div class="controls">  
    <button class="uk-button " id="playBtn" type="button">
        <i class="fas fa-play"></i>
    </button>
    <button class="uk-button pauseBtn" id="pauseBtn" type="button" style="display: none;">
        <i class="fas fa-stop"></i>
    </button>
</div>
<!-- live / offline (indicator-icon)-->
<div class="controls">  
    <div class="uk-button " id="playBtn" type="button">
        <i class="fa-solid fa-repeat"></i>
    </div>
    <div class="uk-button pauseBtn" id="pauseBtn" type="button" style="display: none;">
        <i class="fas fa-circle" style="color: red;"></i>
    </div>
</div>