// _uk-card.scss

.uk-card {

    background-color: $color-neutral-100;
    border-radius: $base-unit;
    overflow: hidden;
    
    &.uk-card-small {
      // styles for .uk-card.uk-card-small
    }
  
    &.uk-card-default {
      // styles for .uk-card.uk-card-default
    }
  
    &.uk-card-hover {
      // styles for .uk-card.uk-card-hover
    }
  
    &.uk-margin-medium-top {
      // styles for .uk-card.uk-margin-medium-top
    }
  
    &.uk-padding-remove-left {
      // styles for .uk-card.uk-padding-remove-left
    }
  
    .uk-card-badge {
      &.uk-padding-small {
        // styles for .uk-card-badge.uk-padding-small
      }
  
      &.uk-position-right {
        // styles for .uk-card-badge.uk-position-right
      }
  
      &.uk-background-secondary {
        // styles for .uk-card-badge.uk-background-secondary
      }
  
      &.uk-background-muted {
        // styles for .uk-card-badge.uk-background-muted
      }
    }
  

    .uk-card-media-top {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            display: block;
            padding-top: 60%; // This gives a 5:3 aspect ratio
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .uk-card-header {
      // styles for .uk-card-header
    }
  
    .uk-card-body {
      // styles for .uk-card-body
    }
  
    .uk-card-footer {
      // styles for .uk-card-footer
    }
  }