// _uk-card.scss


.uk-card {

    background-color: $color-neutral-100;
    border-radius: $base-unit;
    overflow: hidden;
    
    &.uk-card-small {
      // styles for .uk-card.uk-card-small
    }
  
    &.uk-card-default {
      // styles for .uk-card.uk-card-default
    }
  
    &.uk-card-hover {
      // styles for .uk-card.uk-card-hover
    }
  
    &.uk-margin-medium-top {
      // styles for .uk-card.uk-margin-medium-top
    }
  
    &.uk-padding-remove-left {
      // styles for .uk-card.uk-padding-remove-left
    }
  
    .uk-card-badge {
      &.uk-padding-small {
        // styles for .uk-card-badge.uk-padding-small
      }
  
      &.uk-position-right {
        // styles for .uk-card-badge.uk-position-right
      }
  
      &.uk-background-secondary {
        // styles for .uk-card-badge.uk-background-secondary
      }
  
      &.uk-background-muted {
        // styles for .uk-card-badge.uk-background-muted
      }
    }
  

    .uk-card-media-top {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            display: block;
            padding-top: 60%; // This gives a 5:3 aspect ratio
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .icon-margin {
        position: absolute;
        top: $base-unit;
        right: $base-unit;

    }

    .uk-card-header {
      height: $layout-unit;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      h1 {
          @include font-size-l_card-title;
      }
    }
  
    .show-page {
      margin: $base-unit;
    }
    
    .uk-card-body_custom-height {
      height: 100%;
      display: flex;
      flex-direction: column;
  }
  
  .uk-flex {
    display: flex;
    flex-direction: row;
}

.uk-width-expand {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .uk-card-body, .uk-card-footer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .uk-card-body {
        span {
            display: inline-block;
            padding: $base-unit;
            margin-right: $base-unit;
            background-color: $color-neutral-25;
            color: $color-neutral-100;
            border-radius: $base-unit; // This will create a pill shape

            @include font-size-xs;
        }
    }

    .uk-card-footer {
        h5 {
            @include font-size-xs;
            color: $color-neutral-25;
        }
    }
}

  }