// _head_nav.scss

@import '../base/mixins';
@import '../base/colors';

// Moved mixin
@mixin navbar-container-bg {
    background-color: $color-neutral-100; // Replace with your desired color
}

.uk-navbar-container.uk-navbar-container  {
    @include navbar-container-bg;
}

.button-navbar, .uk-navbar-toggle {
    @include navbar-toggle;
    background-color: $color-neutral-75; 
    width: 50px; 
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: $base-unit; 
}

.uk-navbar-padding {
    padding-top: $base-unit;
    padding-bottom: $base-unit;
    padding-left: $base-unit;
    padding-right: $base-unit;
}

.site-title {
    font-weight: 500;
    text-transform: uppercase;
    //color: $color-neutral-25;
    line-height: 1.2rem;
    letter-spacing: 0.2em; 
    
    font-size: 1.2rem; // Default font size
    @media (max-width: 600px) {
        font-size: 0.8rem; // Smaller font size for screens up to 600px wide
        line-height: 0.8rem;;
    }
}