.player_recordings_container{
    padding: $global-margin_vert;
    background-color: $color-neutral-00;
}

.button-container {
    display: flex;
}

#playAudio {
    flex-grow: 1;
}

.square-button {
    height: 50px;
    aspect-ratio: 1 / 1;
    display: flex; 
    justify-content: left; 
    align-items: center; 
    border-radius: 3px; 

    background-color: $color-neutral-25; 
    margin-left: $global-margin_vert
}

#closeAudioPlayer{
    background-color: $color-neutral-25; 
    
}

#playAudio{
    background-color: $color-neutral-25; 
}
#stopAudio{
    background-color: $color-neutral-12; 
}


#progress {
    background-color: $color-neutral-25;

    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#progress-bar{
    background-color: $color-secondary-75;
}

#progress-bar_timer{
    z-index: 1; position: relative;
    color: $color-neutral-100;
}

