.button-navbar{
    background-color: $color-neutral-75; 
    width: 50px; 
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 3px; 
}

.uk-navbar-padding {
    padding-top: $global-margin_vert;
    padding-bottom: $global-margin_vert;
    padding-left: $global-margin_vert;
    padding-right: $global-margin_vert;
  }

.site-title {
    font-weight: 500;
    text-transform: uppercase;
    color: $color-neutral-25;
    line-height: 1.2rem;
    letter-spacing: 0.2em; 
    
    font-size: 1.2rem; // Default font size
    @media (max-width: 600px) {
        font-size: 0.8rem; // Smaller font size for screens up to 600px wide
        line-height: 0.8rem;;
    }
}
