// _head_player_recordings.scss

@mixin progress-bar_custom-height {
    height: $base-unit*3 !important;
}

.player_recordings_container{
    //padding: 0;
    padding: 0px $base-unit 0px $base-unit ;
    background-color: $color-neutral-00;
    //display: none;
}

.button-container {
    display: flex;
}

#playAudio {
    flex-grow: 1;
}

.square-button {
    height: $layout-unit;
    aspect-ratio: 1 / 1;
    display: flex; 
    justify-content: left; 
    align-items: center; 
    border-radius: $base-unit; 

    background-color: $color-neutral-25; 
    margin-left: $base-unit
}

#closeAudioPlayer{
    background-color: $color-neutral-25; 
}

#playAudio{
    background-color: $color-neutral-25; 
}
#stopAudio{
    background-color: $color-neutral-12; 
}


#progress {
    background-color: $color-neutral-25;

    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center;

    margin-top: $base-unit;
    margin-bottom: $base-unit;
    @media (min-width: $breakpoint-large) {
        margin-top: $base-unit * 2;
        margin-bottom: $base-unit * 2;
    }
}

.uk-progress {
    @include progress-bar_custom-height;
}

#progress-bar{
    background-color: $color-secondary-75;
}

#progress-bar_timer{
    z-index: 1; position: relative;
    color: $color-neutral-100;
}