<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="uk-container">
      <audio controls class="uk-width-1-1">
          <source src="https://167.172.176.229:8000/radio.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
  </div>

<!--
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
-->

  </body>

</html>
