<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="controls">
        
        <button class="uk-button " id="playBtn" type="button">
            <span uk-icon="icon: play"></span>
        </button>
        <button class="uk-button pauseBtn" id="pauseBtn" type="button" style="display: none;">
            <span uk-icon="icon: heart"></span>
        </button>

    </div>
  </body>
  <script src="{{ "/assets/main.js" | relative_url }}"></script>
</html>
