// neutral colors
$color-neutral-00: #0F0E12;
$color-neutral-12: #171619;
$color-neutral-25: #272727;
$color-neutral-37: #606366;
$color-neutral-50: #989FA5;
$color-neutral-62: #989FA5;
$color-neutral-75: #B7BDC0;
$color-neutral-87: #DEE2E2;
$color-neutral-100: #F6F8F7;

// primary colors
$color-primary-100: #F15A22;
$color-secondary-100: #006837;
$color-secondary-75: #27A268;
$color-secondary-50: #4DDB99;

.bg-neutral-00 { background-color: $color-neutral-00!important; }
.bg-neutral-12 { background-color: $color-neutral-12!important; }
.bg-neutral-25 { background-color: $color-neutral-25!important; }
.bg-neutral-37 { background-color: $color-neutral-37!important; }
.bg-neutral-50 { background-color: $color-neutral-50!important; }
.bg-neutral-62 { background-color: $color-neutral-62!important; }
.bg-neutral-75 { background-color: $color-neutral-75!important; }
.bg-neutral-87 { background-color: $color-neutral-87!important; }
.bg-neutral-100 { background-color: $color-neutral-100!important; }

.text-neutral-00 { color: $color-neutral-00!important; }
.text-neutral-12 { color: $color-neutral-12!important; }
.text-neutral-25 { color: $color-neutral-25!important; }
.text-neutral-37 { color: $color-neutral-37!important; }
.text-neutral-50 { color: $color-neutral-50!important; }
.text-neutral-62 { color: $color-neutral-62!important; }
.text-neutral-75 { color: $color-neutral-75!important; }
.text-neutral-87 { color: $color-neutral-87!important; }
.text-neutral-100 { color: $color-neutral-100!important; }

.bg-primary-100 { background-color: $color-primary-100!important; }
.bg-secondary-100 { background-color: $color-secondary-100!important; }
.bg-secondary-75 { background-color: $color-secondary-75!important; }
.bg-secondary-50 { background-color: $color-secondary-50!important; }

