// 3. Your custom mixin overwrites.
@mixin navbar-toggle {
    min-height: 45px !important;
    display: flex; // Set to flex
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    width: 100%;
}
