// typography.scss


  
// type sizes
@mixin font-size-xs {
    font-size: 0.70rem;
    line-height: 0.70rem;
    letter-spacing: 0.2em;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 1024px) {
        font-size: 0.6rem;
        line-height: 0.6rem;
        letter-spacing: 0.2em;
    }

    @media (max-width: 600px) {
        font-size: 0.5rem;
        line-height: 0.5rem;
        letter-spacing: 0.2em;
    }
}

@mixin font-size-s {
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 600px) {
        font-size: 0.65rem;
        line-height: 0.65rem;
    }
}

@mixin font-size-m {
    font-size: 1.0rem;
    line-height: 1.00rem;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 600px) {
        font-size: 1.00rem;
        line-height: 1.00rem;
    }
}

@mixin font-size-l {
    
    font-size: 4.2rem; // Adjust as needed
    line-height: 3.2rem; // Adjust as needed
    letter-spacing: -0.085em; // Adjust as needed
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 1920px){
        font-size: 3.9rem; // Adjust as needed
        line-height: 2.95rem; // Adjust as needed
        letter-spacing: -0.085em; // Adjust as needed
 
    }

    @media (max-width: 1600px){
        font-size: 3.6rem; // Adjust as needed
        line-height: 2.75rem; // Adjust as needed
        letter-spacing: -0.085em; // Adjust as needed

    }

    @media (max-width: 1024px){
    font-size: 3.6rem; // Adjust as needed
    line-height: 2.75rem; // Adjust as needed
    letter-spacing: -0.085em; // Adjust as needed

    }

    @media (max-width: 600px) {
        font-size: 2.2rem; // Adjust as needed
        line-height: 1.7rem; // Adjust as needed
        letter-spacing: -0.085em; // Adjust as needed

    }
}

@mixin font-size-l-search {
    font-size: 2.2rem; // Adjust as needed
    line-height: 1.7rem; // Adjust as needed
    //letter-spacing: -0.1em; // Adjust as needed
    font-weight: 500;
    //text-transform: uppercase;

    @media (max-width: 600px) {
        font-size: 2.2rem; // Adjust as needed
        line-height: 1.7rem; // Adjust as needed
        //letter-spacing: -0.1em; // Adjust as needed
        font-weight: 500;
        //text-transform: uppercase;
        //font-size: 1.25rem; // Adjust as needed
        //line-height: 1.25rem; // Adjust as needed
    }
}

@mixin font-size-xl {
    font-size: 3.0rem; // Adjust as needed
    line-height: 3.0rem; // Adjust as needed
    letter-spacing: 0.15em; // Adjust as needed
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 600px) {
        font-size: 2rem; // Adjust as needed
        line-height: 2rem; // Adjust as needed
    }
}

@mixin font-size-l_card-title {
    font-size: 1.30rem; 
    line-height: 1.60rem; 
    letter-spacing: 0.015em; // Adjust as needed
    font-weight: 500;
    text-transform: none;

    @media (max-width: 1600px){
        font-size: 1.25rem; 
        line-height: 1.53rem;
    }

    @media (max-width: 1024px) {
        font-size: 1.15rem; 
        line-height: 1.45rem;
    }

    @media (max-width: 600px) {
        font-size: 1.05rem; 
        line-height: 1.35rem;
         font-weight: 500;
    }
}

@mixin font-size-l_page-title($important: false) {
    font-size: 2.0rem; // Adjust as needed
    line-height: 2.0rem; // Adjust as needed
    letter-spacing: 0.015em; // Adjust as needed
    font-weight: 500;
    //text-transform: uppercase;

    @if $important {
        font-size: 2.0rem !important;
        line-height: 2.0rem !important;
        //letter-spacing: 0.015em !important;
        //font-weight: 500 !important;
        //text-transform: uppercase !important;
    }

    @media (max-width: 1600px) {
        font-size: 1.7rem; // Adjust as needed
        line-height: 1.7rem; // Adjust as needed

        @if $important {
            font-size: 1.7rem !important;
            line-height: 1.7rem !important;
        }
    }

    @media (max-width: 1024px) {
        font-size: 1.6rem; // Adjust as needed
        line-height: 1.6rem; // Adjust as needed

        @if $important {
            font-size: 1.6rem !important;
            line-height: 1.6rem !important;
        }
    }

    @media (max-width: 600px) {
        font-size: 1.5rem; // Adjust as needed
        line-height: 1.5rem; // Adjust as needed

        @if $important {
            font-size: 1.5rem !important;
            line-height: 1.5rem !important;
        }
    }
}

// Apply the mixins to the corresponding classes
.font-size-xs {
    @include font-size-xs;
}

.font-size-s {
    @include font-size-s;
}

.font-size-m {
    @include font-size-m;
}

.font-size-l {
    @include font-size-l;
}

.font-size-l-search {
    @include font-size-l-search;
}

.font-size-xl {
    @include font-size-xl;
}